# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Build outputs
out/
build/
target/
bin/
dist/

# Java
*.class

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Maven
log/
*.log

# Editors
*.swp
*.swo
*.tmp